body {
    font-family: Arial, sans-serif;
    text-align: center;
    background: #d68686;
}

/* Title */
.title {
    padding: 22px;
    background: linear-gradient(135deg, #4b70e1 0%, #2e8bf6 100%);
    margin: 0;
    font-size: 50px;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
    color: #212020;
    letter-spacing: 1px;
    
    text-shadow: 0 0 10px rgba(49, 48, 48, 0.45);

}

/* Controls */
.controls {
    margin: 20px 0;
}

input, select, button {
    padding: 10px;
    margin: 10px;
    font-size: 16px;
}

button {
    background: #0066ff;
    color: white;
    border: none;
    border-radius: 5px;
}

button:hover {
    background: #0047b3;
}

.reset-btn {
    background: #ff3b3b;
}
.reset-btn:hover {
    background: #cc0000;
}

/* Charts */
.charts-row {
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
}

.chart-box {
    width: 45%;
    min-width: 380px;
    background: white;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.18);
    padding: 15px;
}

.chart-box canvas {
    width: 100% !important;
    height: 400px !important;
}

/* Animation Area */
.animation-area {
    margin-top: 20px;
    min-height: 260px;
    display:flex;
    justify-content:center;
    align-items:center;
    gap: 24px;
}

/* LOGO */
.logo-box {
    width: 390px;
    height: 390px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-img {
    width: 320px;
    filter: drop-shadow(0 0 26px rgba(255,255,255,0.9));
}

/* Coin */
.coin3d {
    width: 160px;
    height: 160px;
    position: relative;
    transform-style: preserve-3d;
}

.coin3d .side {
    position: absolute;
    width: 160px;
    height: 160px;
    backface-visibility: hidden;
}
.coin3d .tails {
    transform: rotateY(180deg);
}

@keyframes flipcoin {
    from { transform: rotateY(0deg); }
    to { transform: rotateY(1800deg); }
}

/* Dice */
.cube-container {
    width: 220px;
    height: 220px;
    perspective: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.small-cube .cube {
    width: 150px;
    height: 150px;
}

.small-cube .face img {
    width: 150px;
    height: 150px;
}

.cube {
    width: 200px;
    height: 200px;
    position: relative;
    transform-style: preserve-3d;
}

.cube .face {
    width: 200px;
    height: 200px;
    position: absolute;
}

.cube .face img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.face1 { transform: rotateY(0deg) translateZ(100px); }
.face2 { transform: rotateY(90deg) translateZ(100px); }
.face3 { transform: rotateY(180deg) translateZ(100px); }
.face4 { transform: rotateY(-90deg) translateZ(100px); }
.face5 { transform: rotateX(90deg) translateZ(100px); }
.face6 { transform: rotateX(-90deg) translateZ(100px); }

.two-dice-area {
    display: flex;
    justify-content: center;
    gap: 50px;
}
/* Chart Fade-In Animation */
.chart-fade {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.chart-fade.show {
    opacity: 1;
    transform: translateY(0);
}
